@page
@model IndexModel
@{
    ViewData["Title"] = "El home para los amantes de la pizza";
    TimeSpan timeInBusiness = DateTime.Now - new DateTime(2018, 8, 14);
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Contoso Pizza</h1>
    <p class="lead">La mejor pizza de la ciudad desde @Convert.ToInt32(timeInBusiness.TotalDays) dias!</p>
</div>
